<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
<!--<div class="navbar-fixed" th:fragment="navbar" >-->
<!--<nav class="light-blue darken-4" style="padding-left:10px">-->
<!--<div class="nav-wrapper">-->
<!--<a class="brand-logo" href="/"><i class="material-icons" style="font-size: 2rem">USTER</i>Option Panel</a>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->


<div class="navbar-fixed" th:fragment="navbar">
   <!-- <nav class="navbar navbar-light bg-light" style="height: 51px">
        &lt;!&ndash;<a class="navbar-brand" href="#">&ndash;&gt;
        &lt;!&ndash;<img th:src="@{img/spring-icon.png}" width="30" height="30" class="d-inline-block align-top"&ndash;&gt;
        &lt;!&ndash;alt="">&ndash;&gt;
        &lt;!&ndash;USTER - Trip app&ndash;&gt;
        &lt;!&ndash;</a>&ndash;&gt;
    </nav>-->
</div>



</body>
</html>