<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html-header :: html-header"></head>
<body>
<div class="container-fluid">

    <header class="back-header">
        <div class="down-triangle"></div>
    </header>


    <div class="myStatic">

        <div class="row">
            <div class="col-md-3">
                <div th:replace="fragments/side-bar :: side-bar"></div>
            </div>

            <div class="col-md-9">
                <div class="container-fluid">


                    <!--List-->

                    <div>


                        <div class="card mt-6">
                            <div class="card-block">
                                <div class="custom-form">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Brand Vehicle</th>
                                            <th>Plate</th>
                                            <th>license Required</th>
                                            <th>Driver Name</th>
                                            <th>Driver Surname</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="trip : ${dataTrip}">


                                            <!--/*@thymesVar id="brand" type="java.lang.String"*/-->
                                            <td th:text="${trip.vehicle.brand}"></td>
                                            <td th:text="${trip.vehicle.plate}"></td>
                                            <td th:text="${trip.vehicle.licenseRequired}"></td>
                                            <td th:text="${trip.driver.name}"></td>
                                            <td th:text="${trip.driver.surname}"></td>
                                            <td th:text="${trip.date}"></td>
                                            <td>
                                                <a class="btn btn-danger delBtn" th:method="delete"
                                                   th:href="@{/trips/delete/(id=${trip.id})}">Delete</a>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <hr/>


                                <nav aria-label="Page navigation example" th:if="${dataTrip.totalPages > 0}">
                                    <ul class="pagination justify-content-center">

                                        <li th:each="pageNumber : ${pageNumbers}"
                                            th:class="${pageNumber==dataTrip.number + 1} ? 'page-item active' : 'page-item' ">
                                            <!--<a class="page-link" href="#">1</a>-->
                                            <a th:href="@{/trips/listTrip(page=${pageNumber-1})}"
                                               th:text=${pageNumber}
                                               class="page-link"></a>
                                        </li>


                                    </ul>
                                </nav>

                            </div>
                        </div>


                    </div>

                    <!--List-->
                </div>

            </div>
        </div>
    </div>


    <!--Lista de drivers-->

    <div class="container">


        <!--Fin Lista de drivers-->


        <!--Modal Borrar-->

        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal"
             role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Record</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal"
                                type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="alert alert-danger">
                            Are you sure you want to delete this Trip?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal"
                                type="button">Close
                        </button>
                        <a class="btn btn-danger" href="" id="delRef">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Borrar-->
    </div>


    <footer class="back-footer">
        <div class="up-triangle"></div>
    </footer>
</div>
</body>
</html>