<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html-header :: html-header"></head>

<body>


<header class="back-header">
    <div class="down-triangle"></div>
</header>



<div class="">

    <div class="row">
        <div class="col-md-3">
            <div th:replace="fragments/side-bar :: side-bar"></div>
        </div>

        <div class="col-md-9">

            <div class="container-fluid">


                <div class="main-message">
                    <img th:src="@{../img/spring-icon.png}" class="navbar-brand-img
                        mx-auto" style="max-height: 14.5rem;;background-color: #5900ba;background-blend-mode: multiply;border-radius: 37%;" alt="...">
                    <h2 class="title">Welcome to <span> Uster APP</span></h2>
                    <p>Copyright &#0169 2019</p>
                </div>


            </div>

        </div>
    </div>
</div>


<footer class="back-footer">
    <div class="up-triangle"></div>
</footer>


</body>
</html>