<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/html-header :: html-header"></head>

<body>



<header class="back-header">
    <div class="down-triangle"></div>
</header>


<div class="">

    <div class="row">
        <div class="col-md-3">
            <div th:replace="fragments/side-bar :: side-bar"></div>
        </div>

        <div class="col-md-9">

            <div class="container-fluid"></div>

        </div>
    </div>
</div>




<footer class="back-footer">
    <div class="up-triangle"></div>
</footer>



</body>
</html>