
.navbar-nav .nav-item .nav-link i{
    margin-right: 1.5rem;
}



/*Stepper*/

/* @extend display-flex; */
display-flex, .select-icon, .select-icon i, .form-radio input + label figure, .form-flex, .steps ul, .actions ul li a, .form-row {
    display: flex;
    display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .steps ul, .actions ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }


.main {
    padding: 160px 0; }

.container {
    width: 990px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px; }

.signup-form {
    padding: 30px 0px 52px 0px;
    position: relative; }

form-flex {
    justify-content: space-around;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -o-justify-content: space-around;
    -ms-justify-content: space-around;
    padding: 0 140px; }

.content {
    padding-right: 100px;
    padding-left: 81px;
    height: 150px; }
.content h3 {
    display: none; }

.steps ul {
    justify-content: space-between;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -o-justify-content: space-between;
    -ms-justify-content: space-between; }
.steps ul li {
    width: 330px; }
.steps ul li a {
    text-decoration: none;
    display: block;
    background: #f8f8f8;
    text-align: center;
    padding: 8px 0; }
.steps ul li:hover a {
    background: #1ed760; }
.steps ul li:hover a h3 {
    color: #fff; }
.steps ul .current a {
    background: #1ed760; }
.steps ul .current a h3 {
    color: #fff; }

.actions {
    padding-right: 100px;
    padding-left: 81px; }
.actions ul {
    display: inline-block;
    width: 100%; }
.actions ul .disabled {
    display: none; }
.actions ul li:first-child {
    float: left; }
.actions ul li:first-child a {
    background: transparent;
    color: #999999;
    border: 1px solid #ebebeb; }
.actions ul li:nth-child(2), .actions ul li:last-child {
    float: right; }
.actions ul li a {
    width: 140px;
    height: 50px;
    color: #fff;
    background: #1ed760;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }

/*.inputfile {*/
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    /*opacity: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: -1; }*/

/*.inputfile + label {*/
    /*text-transform: uppercase; }*/

/*.inputfile + label {*/
    /*max-width: 100%;*/
    /*font-size: 14px;*/
    /*font-weight: bold;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*overflow: hidden;*/
    /*text-align: center; }*/

/*.inputfile + label figure {*/
    /*width: 154px;*/
    /*height: 154px;*/
    /*border-radius: 50%;*/
    /*background-color: transparent;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*margin-bottom: 6px; }*/

/*.inputfile + label figure img {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*border-radius: 50%; }*/

/*.form-row {*/
    /*justify-content: space-between;*/
    /*-moz-justify-content: space-between;*/
    /*-webkit-justify-content: space-between;*/
    /*-o-justify-content: space-between;*/
    /*-ms-justify-content: space-between;*/
    /*align-items: center;*/
    /*-moz-align-items: center;*/
    /*-webkit-align-items: center;*/
    /*-o-align-items: center;*/
    /*-ms-align-items: center; }*/

/*.form-group-flex {*/
    /*width: 510px; }*/

/*.form-group {*/
    /*padding-bottom: 20px;*/
    /*position: relative; }*/

/*.form-input {*/
    /*width: 50%;*/
    /*padding: 0 10px;*/
    /*padding-bottom: 20px;*/
    /*position: relative; }*/

.form-input-flex {
    margin: 0 -10px; }

input.error {
    border: 1px solid #f63726;
    margin-bottom: 20px; }

label.error {
    font-size: 12px;
    color: #f63726;
    position: absolute;
    bottom: 17px;
    left: 0; }

.label-radio {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 70px; }



/*Stepper*/